@using ECOCSystem.Model
@using ECOCSystem.Tools
@model BranchModel



<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Branch Information</h4>
        <button type="button" class="close" onclick="closeModalBranch()" aria-label="Close">
            <span aria-hidden="true"><i class="fa" fa></i>×</span>
        </button>
    </div>
    <div class="modal-body @*overlay*@" style="padding:2rem;">
   
    </div>
    <div id="branchOption" class="modal-footer justify-content-between submit-btn">
    </div>
</div>
<script>


    $(document).ready(function () {

        $('#addBranch').on('click', function () {
            $('#branchOption').empty();
            $('#branchOption').append(`<button type="button" onclick="closeModalBranch()" class="btn btn-default">Cancel</button>
            <button type="button" id="submit_Address" class="btn btn-success">Save </button>  `)

            $("#modal-companyInfo .overlay").removeClass("d-none");

            //$('#submit_Address').on('click', function () {
            //    submitForm("ADDADDRESS");
            //});
        });


    });


</script>