@using ECOCSystem.Model
@model List<Variants>

<!-- Main content -->



<div class="modal-content ">
    <div id="" class="overlay d-none">
        @*<i class="fas fa-2x fa-sync fa-spin"></i>*@
    </div>
    <div class="modal-header">
        <h4 class="modal-title">Add Variant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fa" fa></i>×</span>
        </button>
    </div>
    <div class="modal-body " style="padding:2rem;">

        <section class="content ">

            <table id="tbl_Variant_list" class="table table-head-fixed table-hover dataTable dtr-inline table-hover dt-responsive" style="min-width: 45em">
                <thead>
                    <tr>
                        <th><center>Select</center></th>
                        <th>Variant Name</th>
                    </tr>
                </thead>
            </table>



        </section>
    </div>
    <div id="addSeriesOption" class="modal-footer justify-content-between submit-btn">
        <button type="button" onclick="closeModalBranch()" class="btn btn-default">Cancel</button>
        <button type="button" id="submit_addMake" value="ADDMAKE" class="btn btn-success">ADD</button>
    </div>
</div>
<script>


</script>

