@using ECOCSystem.Model
@using ECOCSystem.Tools
@model MVModel

<div class="modal-content ">
    <div id="make-overlay" class="overlay d-none">
        @*<i class="fas fa-2x fa-sync fa-spin"></i>*@
    </div>
    <div class="modal-header">
        <h4 class="modal-title">Vehicle Make Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fa" fa></i>×</span>
        </button>
    </div>
    <div class="modal-body " style="padding:2rem;">

        <section class="content ">

            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">

                        @Html.AntiForgeryToken()
                        <section class="row pb-4 ">
                            <div class="form-group col-lg-12">
                                @Html.LabelFor(o => o.VehicleMake)
                                <div class="input-group">@Html.TextBoxFor(o => o.VehicleMake, new { @class = "form-control input-style", placeholder = "Vehicle Make Name" })</div>
                                @Html.ValidationMessageFor(o => o.VehicleMake)
                            </div>
                        </section>
                        <section id="MakeOptions"  class="infoButtons row mt-4 pb-4 submit-btn">
                        </section>

                        <section class="row pb-4">
                            <div class="col-12 col-sm-12 card">
                                <div class="cptl-title-header card-header " style="display: flex; align-items: center;">
                                    <label>Make Model List</label>
                                    <div class="uiverse ">
                                        <span class="tooltip">Add new Model</span>
                                        <span type="button" id="addModel" class="" data-toggle="modal" data-target="#modal-model-info">
                                            +
                                        </span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="tbl_Series" class="table table-head-fixed table-hover dataTable dtr-inline table-hover dt-responsive" style=" min-width: 61em">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:150px"><center>Action Remove</center></th>
                                                            <th>Model</th>
                                                        </tr>
                                                    </thead>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    

                    </div>
                </div>
            </div>



        </section>
    </div>
    @*<div id="addressOption" class="modal-footer justify-content-between submit-btn">
        </div>*@
</div>
<script>
    $(document).ready(function () {
        $('#addModel').on('click', function () {
            $('#ModelOptions').empty();
            $('#ModelOptions').append(`<button type="button" id="submit_addMake" value="ADDMAKE" class="btn btn-success">Save</button> `)

            $('#submit_addMake').on('click', function () {
                submitForm("ADDMAKE");
            });
        });



    });

</script>
