@using ECOCSystem.Model
@model VehicleModelModel
@{
    ViewBag.Title = "Series";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataAnnotationsModelValidatorProvider.AddImplicitRequiredAttributeForValueTypes = false;
}

<section class="content">
    <div class="card card-success card-outline">
        <div class="card-header">
            <h3 class="card-title">Vehicle Model List</h3>
        </div>
        <div class="fab" id="addSeries" type="button" data-toggle="modal" data-target="#modal-series-info" name="btnSubmit" title="" @*onclick="location.href='/Customer/Customer'"*@ data-original-title="Create New"> + </div>
        <div class="card-body">
            @using (Html.BeginForm("Vehicle", "Vehicle", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "CompanyInfo_Form" }))
            {

                @Html.HiddenFor(m => m.ModelID)
                <div id="" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="table-Series" class="table table-head-fixed table-hover dataTable dtr-inline table-hover dt-responsive nowrap " style="min-width: 80em;cursor:pointer">
                                <thead>
                                    <tr>
                                        <th><center>Action Edit</center></th>
                                        <th>Model Name</th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal-series-info" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        @{
                            Html.RenderPartial("_ModelInfo", Model.ModelInfo, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "ModelInfo" } });
                        }
                    </div>
                </div>

                <div class="modal fade" id="modal-add-variant" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        @{
                            Html.RenderPartial("_AddVariant", Model.VariantList, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "VariantList" } });
                        }
                    </div>
                </div>

                <div class="modal fade" id="modal-make-body" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg">

                    </div>

                </div>
                <div class="modal fade" id="modal-make-color" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg">

                    </div>

                </div>
            }

        </div>
    </div>

</section>
<script>

    $(document).ready(function () {


        $('#addSeries').on('click', function () {
            $('#SeriesOption').empty();
            $('#SeriesOption').append(`<button type="button" id="" value="" class="btn btn-default">Cancel</button>
                                      <button type="button" id="submit_addMake" value="ADDMAKE" class="btn btn-success">Save</button>`)


            $('#submit_addMake').on('click', function () {
                submitForm("ADDMAKE");
            });

        });

        getSeriesList();

    });
    function getSeriesList() {

        let cntRow = 0;
        SeriesList_table = $("#table-Series").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "scrollX": true,
            "scrollY": true,
             "destroy": true,
/*             "pageLength": 20,*/

            "order": [],
            "dom":
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'p><'col-sm-12 col-md-7'i>>",
            "ajax": {
                "url": '@Url.Action("GetModelList", "Vehicle")',
                "type": "POST",
                "datatype": "json",
/*                "data": { "MakeID": MakeID },*/
                "beforeSend": function () {
                    $('#loadingScreen').show();
                    cntRow = 0;
                },
                "complete": function (row, data, dataIndex) {

                    $('#loadingScreen').hide();
                }
            },
            "createdRow": function (row, data, dataIndex) {

            },
            "columns": [
                {
                    "className": "ModelID", "data": null, "name": "ModelID",
                    render: function (data, type, row) {
                        return `<center>
                                  <div class="">
                                         <span type="button" data-toggle="modal" data-target="#modal-series-info"" onclick="EditModel(`+data.ModelID+`)">
                                            <i class="fa fa-pencil-alt fa-lg text-primary" style="padding: 0px"></i>
                                        </span>
                                    </div>
                                 </div>
                              </center>`
                    }, "autoWidth": true
                },
                { "className": "ModelName", "data": "ModelName", "name": "ModelName", "autoWidth": true },
             



            ]
        });
        $('#table-Series_paginate').parent('div').parent('div').css('flex-direction', 'row-reverse').css('margin', '12px');

    };

    function EditModel(ModelID)
    {

    }
</script>