@using ECOCSystem.Model
@model PremiumModel
@{
    ViewBag.Title = "Premium";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataAnnotationsModelValidatorProvider.AddImplicitRequiredAttributeForValueTypes = false;
}

<section class="content">
    <div class="card card-success card-outline">
        <div class="card-header">
            <h3 class="card-title">Vehicle Body Type List</h3>
        </div>
        <div class="fab" id="addMake" type="button" data-toggle="modal" data-target="#modal-make-info" name="btnSubmit" title="" @*onclick="location.href='/Customer/Customer'"*@ data-original-title="Create New"> + </div>
        <div class="card-body">
            @using (Html.BeginForm("Vehicle", "Vehicle", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "CompanyInfo_Form" }))
            {

                @Html.HiddenFor(m => m.PremiumID)
                <div id="" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="table-PremiumList" class="table table-head-fixed table-hover dataTable dtr-inline table-hover dt-responsive nowrap " style="min-width: 80em;cursor:pointer">
                                <thead>
                                    <tr>
                                        <th><center>Action Edit</center></th>
                                        <th>Vehicle Classification</th>
                                        <th>CTPL Term</th>
                                        <th>Basic Premium</th>
                                        <th>Taxes</th>
                                        <th>Authentication Fee</th>
                                        <th>Gross Premium</th>
                                        <th>VAT</th>
                                        <th>DST</th>
                                        <th>LGT</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal-make-info" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">

                    </div>

                </div>

                <div class="modal fade" id="modal-make-series" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg">

                    </div>

                </div>

                <div class="modal fade" id="modal-make-body" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg">

                    </div>

                </div>
                <div class="modal fade" id="modal-make-color" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg">

                    </div>

                </div>
            }

        </div>
    </div>





</section>
<script>
    $(document).ready(function () {

        getPremiumList();


    });



   function getPremiumList() {

        let cntRow = 0;
       Premium_table = $("#table-PremiumList").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "scrollX": true,
            "scrollY": true,
            "destroy": true,


            "order": [],
            "dom":
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'p><'col-sm-12 col-md-7'i>>",
            "ajax": {
                "url": '@Url.Action("GetAllPremiumList", "Premium")',
                "type": "POST",
                "datatype": "json",
/*                "data": { "CompanyID": CompanyID, "BranchID": BranchID },*/
                "beforeSend": function () {
                    $('#loadingScreen').show();
                    cntRow = 0;
                },
                "complete": function (row, data, dataIndex) {


                    $('#loadingScreen').hide();
                }
            },
            "createdRow": function (row, data, dataIndex) {

            },
            "columns": [
                {
                    "className": "PremiumID", "data": null, "name": "PremiumID",
                    render: function (data, type, row) {
                        return `<center>
                                  <div class="">
                                         <span type="button" data-toggle="modal" data-target="#modal-make-info"" onclick="EditMake(`+ data.PremiumID + `,'` + data.PremiumID+`')">
                                            <i class="fa fa-pencil-alt fa-lg text-primary" style="padding: 0px"></i>
                                        </span>
                                    </div>
                                 </div>
                              </center>`
                    }, "autoWidth": true
                },
                { "className": "Classification", "data": "Classification", "name": "Classification", "autoWidth": true },
                { "className": "Term", "data": "Term", "name": "Term", "autoWidth": true },
                { "className": "BasicPremium", "data": "BasicPremium", "name": "BasicPremium", "autoWidth": true },
                { "className": "Taxes", "data": "Taxes", "name": "Taxes", "autoWidth": true },
                { "className": "AuthFee", "data": "AuthFee", "name": "AuthFee", "autoWidth": true },
                { "className": "GrossPremium", "data": "GrossPremium", "name": "GrossPremium", "autoWidth": true },
                { "className": "VAT", "data": "VAT", "name": "VAT", "autoWidth": true },
                { "className": "DST", "data": "DST", "name": "DST", "autoWidth": true },
                { "className": "LGT", "data": "LGT", "name": "LGT", "autoWidth": true },



            ]
        });
       $('#table-BodyType_paginate').parent('div').parent('div').css('flex-direction', 'row-reverse').css('margin', '12px');



    };
</script>

