@using ECOCSystem.Model
@model List<vwUserListModel>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="card-header">
        <h3 class="card-title"><h4>User List</h4></h3>
    </div>
    <div class="fab" type="button" name="btnSubmit" data-toggle="tooltip" title="" onclick="location.href='/Customer/Customer'" data-original-title="Create New"> + </div>
    <div class="card-body">
        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                <div class="col-sm-12">
                    <table id="example2" class="table table-head-fixed table-hover dataTable dtr-inline " style="cursor:pointer" aria-describedby="example2_info" t>
                        <thead>
                            @*<tr>
                                <th class="sorting sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending">Rendering engine</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Browser</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Platform(s)</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Engine version</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">CSS grade</th>
                                </tr>*@
                            <tr>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">First name</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Last  name</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Email</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">User Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr class="odd">
                                    <td class="sorting_1 dtr-control">Gecko</td>
                                    <td>Mozilla 1.5</td>
                                    <td class="">Win 95+ / OSX.1+</td>
                                    <td>1.5</td>
                                    <td>A</td>
                                </tr>*@
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="max-width:12%" id="User_LName">@item.FirstName</td>
                                    <td style="max-width:12%" id="User_LName">@item.LastName</td>
                                    <td style="max-width:12%" id="User_LName">@item.Email</td>
                                     <td style="max-width:12%" id="User_LName">@item.UserType</td>
                                </tr>
                            }

                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">First name</th>
                                    <th rowspan="1" colspan="1">Last name</th>
                                    <th rowspan="1" colspan="1">Email</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    jQuery(document).ready(function () {
        var vehicle_table = jQuery("#example2").DataTable({
            display: "row-border"
        });
    });
</script>


